<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<h1>Streamingservice Test</h1>

<p>Welcome to your new single-page application, built with Angular</p>
<ul>
  <li>lijn 1</li>
  <li>lijn 2</li>
  <li>lijn 3</li>
  

</ul>
<p>test 2</p>
<ul>
  <li><button class="btn btn-primary" (click)="incrementCounter()">testknop1</button></li>
  <li><button type="button" class="btn btn-primary">testknop2</button></li>
  <li>
    <button (click)="testfunctie()">Expand</button>
    {{name}}
  </li>
</ul>
<p>test4</p>
<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/V75dMMIW2B4?&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay = 1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_EC2tmFVNNE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>






  <img src="assets/images/film.jpg" >
</div>
<img src="assets/images/syntra.png">
